@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

    scrollbar-width: thin;
    scrollbar-color: white black;
}

body {
    font-family: $font-family-sans-serif;
    // font-family: ;
    color: white;
    background-color: black;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1431' height='171.7' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='6' stroke-opacity='0.85'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

    animation: moveWaves 12s linear infinite;
    // animation: moveWaves 5s linear infinite;
}

@keyframes moveWaves {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1431px;
        // background-position-x: 5431px;
        // background-position-y: 3000px;
        /* This value depends on the size of your SVG image */
    }

    // 50% {
    //         background-position-x: 1431px;
    //         /* This value depends on the size of your SVG image */
    //     }

    //     100% {
    //         background-position-x: 0;
    //         /* This value depends on the size of your SVG image */
    //     }
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}


::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
}



.text-glow {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.pulsate {
    animation: pulsate 1.5s infinite alternate;
    transform: translateZ(0);
    will-change: text-shadow;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 10px #0fa,
            0 0 90px #0fa;
    }
}

.neon-text {
    color: #fff;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.7),
        0 0 8px rgba(255, 255, 255, 0.7),
        0 0 15px rgba(255, 255, 255, 0.7),
        0 0 30px rgba(82, 113, 255, 0.7),
        0 0 60px rgba(82, 113, 255, 0.7),
        0 0 70px rgba(82, 113, 255, 0.7),
        0 0 80px rgba(82, 113, 255, 0.7),
        0 0 120px rgba(82, 113, 255, 0.7);
}

@keyframes pulsate-blue {
    100% {
        text-shadow:
            0 0 3px rgba(255, 255, 255, 0.5),
            0 0 7px rgba(255, 255, 255, 0.5),
            0 0 12px rgba(255, 255, 255, 0.5),
            0 0 25px rgba(82, 113, 255, 0.5),
            0 0 50px rgba(82, 113, 255, 0.5),
            0 0 60px rgba(82, 113, 255, 0.5),
            0 0 70px rgba(82, 113, 255, 0.5),
            0 0 100px rgba(82, 113, 255, 0.5);
    }

    0% {
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.5),
            0 0 6px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(82, 113, 255, 0.5),
            0 0 40px rgba(82, 113, 255, 0.5),
            0 0 50px rgba(82, 113, 255, 0.5),
            0 0 60px rgba(82, 113, 255, 0.5),
            0 0 90px rgba(82, 113, 255, 0.5);
    }
}