.about {
    &__header {
        margin-bottom: 5.5rem;
    }

    &__photo {
        width: 300px;
        // height: 100px;
        border-radius: 5%;
        margin: 0 auto;
        display: block;
    }

    &__subheader {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}