.home {
    &__header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__header-name {
        font-size: 3.4rem;
        text-align: center;
        margin-bottom: 9rem;
        text-shadow: 2.5px 2.5px 1px rgba(255, 192, 203, 0.7);

        @media (min-width: $xss) {
            font-size: 4rem;
            text-shadow: 3px 3px 1px rgba(255, 192, 203, 0.7);
        }

        @media (min-width: $sm) {
            font-size: 6rem;
            text-shadow: 3px 3px 1px rgba(255, 192, 203, 0.7);
        }

        @media (min-width: $md) {
            font-size: 8rem;
            text-shadow: 4px 4px 1px rgba(255, 192, 203, 0.7);
        }
    }


    &__subheader-role {
        font-size: 2.6rem;
        margin-bottom: 9rem;

        @media (min-width: $xss) {
            font-size: 3rem;
        }

        @media (min-width: $sm) {
            font-size: 3.8rem;
        }

        @media (min-width: $md) {
            font-size: 5rem;
        }
    }


    &__header-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__work-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        min-height: 90vh;

        @media (min-width: $lg) {
            padding: 0;
        }
    }

    &__work-header {
        font-size: 3.6rem;
        margin-bottom: 5.5rem;
        // margin-top: 6rem;

        @media (min-width: $xss) {
            font-size: 4rem;
        }

        @media (min-width: $sm) {
            font-size: 4.6rem;
        }

        @media (min-width: $md) {
            font-size: 5.6rem;
        }
    }

    &__subheader {
        font-size: 3rem;
        text-align: center;

        @media (min-width: $xss) {
            font-size: 3.4rem;
        }

        @media (min-width: $sm) {
            font-size: 4rem;
        }

        @media (min-width: $md) {
            font-size: 5rem;
        }
    }

    &__paragraph {
        font-size: 3rem;
    }

    &__links-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;

        @media (min-width: $sm) {
            flex-direction: row;
        }
    }

    &__link-wrapper {
        font-size: 3rem;
        display: flex;

        align-items: center;

        margin: 0.8rem 2.3rem;
        text-decoration: white underline;
        text-decoration: none;

        transition: 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;

        &:hover {
            text-decoration: pink wavy underline;
            color: pink;

            transform: scale(1.2);

            animation-fill-mode: forwards;

            .home__contact-link {
                color: pink;
            }
        }
    }

    &__contact-link {
        display: block;
        font-size: 2.4rem;
        padding-left: 1rem;

        &:hover {
            text-decoration: none;
            animation-fill-mode: forwards;
        }

        @media (min-width: $xs) {
            font-size: 2.6rem;
        }

        @media (min-width: $sm) {
            font-size: 2.8rem;
        }

        @media (min-width: $md) {
            font-size: 3.4rem;
        }
    }

    &__image-wrapper-link {
        display: flex;
        align-items: center;
    }

    &__link-image {
        height: 24px;
        margin-top: 3px;
        border-radius: 50%;

        filter: invert(1);

        @media (min-width: $sm) {
            height: 32px;
        }

        @media (min-width: $md) {
            height: 36px;
        }
    }

    &__bio-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        height: 100vh;

        @media (min-width: $lg) {
            padding: 0;
        }
    }

    &__bio-text-wrapper {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        padding: 0 2rem;
    }

    &__bio-header {
        font-size: 2.5rem;
        margin-bottom: 5.5rem;

        &::before,
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 50%;
            background-color: #fff;
            margin: 2rem auto;
        }

        @media (min-width: $xs) {
            font-size: 3rem;
        }

        @media (min-width: $sm) {
            font-size: 4rem;
        }
    }

    &__bio-text {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.6;
        color: #e0e0e0;
        text-align: justify;

        @media (min-width: $sm) {
            font-size: 1.6rem;
        }

        @media (min-width: $md) {
            font-size: 1.8rem;
        }
    }

    &__link {
        // color: #0fa;
        color: #c293ff;
        text-decoration: underline;

        &:hover {
            color: pink;
            text-decoration: underline wavy pink;
        }
    }

    &__projects-section {
        display: flex;
        flex-direction: column;

        height: 100vh;

        align-items: center;
        justify-content: center;
        // justify-content: justify;
        padding: 4rem 0;

        @media (min-width: 992px) {
            padding: 5rem 0;
        }
    }

    &__projects-text-wrapper {
        max-width: 800px; // Set a max-width for readability
        text-align: center;
        margin: 0 auto; // Center the wrapper
        padding: 0 2rem; // Add padding on the sides
    }

    &__projects-header {
        font-size: 3rem;
        margin-bottom: 5.5rem;
        // color: #0fa; // A highlight color for the header

        &::before,
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 50%;
            background-color: #fff;
            margin: 2rem auto;
        }

        @media (min-width: $md) {
            font-size: 4rem;
        }
    }

    &__projects-text {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        line-height: 1.6; // Improved readability for longer text
        color: #e0e0e0; // A softer color for the text

        @media (min-width: $md) {
            font-size: 1.8rem;
        }
    }


    &__project-cards-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 4rem 0;
    }

    &__project-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__work-link {
        text-align: center;
        color: white;
        font-size: 2.5rem;
        margin-top: 2rem;

        @media (min-width: $sm) {
            font-size: 3rem;
        }

        @media (min-width: $md) {
            font-size: 3.5rem;
        }
    }
}