.home {
    &__header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    // &__header-name {
    //     // center position
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    &__header-name {
        font-size: 8rem;
        // width: 80%;
        text-align: center;
        // max-width: 80%;


        margin: 0;
        margin-top: 2rem;
        margin-bottom: 11rem;

        @media (max-width: 768px) {
            font-size: 6rem;
        }

        @media (max-width: 576px) {
            font-size: 4rem;
        }

        @media (max-width: 320px) {
            font-size: 3.4rem;
        }
    }

    &__header-image-wrapper {
        margin-right: 20px;
        margin-left: 20px;
    }

    &__header-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__subheader {
        font-size: 5rem;
        text-align: center;
    }

    &__subheader-role {
        font-size: 6.75rem;
        font-size: 6rem;
        font-weight: 400;

        margin: 0;
        margin-bottom: 11rem;

        @media (max-width: 768px) {
            font-size: 4rem;
        }

        @media (max-width: 576px) {
            font-size: 3.5rem;
        }

        @media (max-width: 320px) {
            font-size: 3rem;
        }
    }

    &__paragraph {
        font-size: 3rem;
    }

    &__links-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin: 0;
        // margin-top: 0;

        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__link-wrapper {
        font-size: 3rem;
        display: flex;

        // center items vertically
        align-items: center;

        margin: 0 2.3rem;
        text-decoration: white underline;
        // text-decoration: none;

        transition: 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s;

        &:hover {
            text-decoration: pink wavy underline;
            color: pink;

            transform: scale(1.2);
            // transition: 0.2s;
            //transition: 0.2s ease-in-out;
            // dont reset transform on mouse out
            //transition: 0.2s ease-in-out 0s;

            animation-fill-mode: forwards;

            // make the link pink
            .home__contact-link {
                color: pink;
            }
        }
    }

    &__contact-link {
        display: block;

        font-size: 3.2rem;
        padding: 0;
        padding-left: 1rem;

        // text-decoration: white underline;
        //         // transition: 0.15s ease-in-out 0s,
        // transform 0.15s ease-in-out 0s;

        &:hover {
            text-decoration: none;
            // text-decoration: pink wavy underline;
            // color: pink;
            // color: pink;

            // transform: scale(1.2);

            // transition: 0.2s;
            //transition: 0.2s ease-in-out;
            //transition: 0.2s ease-in-out 0s;



            animation-fill-mode: forwards;
        }

        @media (max-width: 768px) {
            font-size: 3rem;
        }

        @media (max-width: 576px) {
            font-size: 2.5rem;

            margin: 0.8rem 0;
        }

        @media (max-width: 320px) {
            font-size: 2rem;
        }

        &--big {
            font-size: 5rem;
            padding: 1px 0;
            font-weight: bold;

            @media (max-width: 768px) {
                font-size: 4rem;
            }

            @media (max-width: 576px) {
                font-size: 3.5rem;
            }

            @media (max-width: 320px) {
                font-size: 3rem;
            }
        }
    }

    &__link {
        // display: block;
        text-align: center;

        font-size: 3.2rem;
        padding: 0;
        padding-left: 1rem;

        text-decoration: white underline;
        transition: 0.15s ease-in-out 0s,
            transform 0.15s ease-in-out 0s;

        &:hover {
            text-decoration: pink wavy underline;
            color: pink;

            transform: scale(1.1);

            animation-fill-mode: forwards;
        }

        @media (max-width: 768px) {
            font-size: 3rem;
        }

        @media (max-width: 576px) {
            font-size: 2.5rem;

            margin: 0.8rem 0;
        }

        @media (max-width: 320px) {
            font-size: 2rem;
        }

        &--big {
            font-size: 5rem;
            padding: 1px 0;
            font-weight: bold;

            @media (max-width: 768px) {
                font-size: 4rem;
            }

            @media (max-width: 576px) {
                font-size: 3.5rem;
            }

            @media (max-width: 320px) {
                font-size: 3rem;
            }
        }
    }

    &__image-wrapper-link {
        display: flex;

        align-items: center;
    }

    &__link-image {
        // width: 36px;
        // width: 30px;
        height: 36px;
        margin-top: 3px;
        // height: 30px;
        border-radius: 50%;

        filter: invert(1);

        // pink color


        @media (max-width: 576px) {
            width: 20px;
            height: 20px;
        }
    }

    &__bio-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 0; // Add padding for smaller viewports
        // margin: 5rem 0; // Add padding for smaller viewports
        // margin-top: 2rem;

        height: 100vh;

        @media (min-width: 992px) {
            height: 100vh; // Full height on larger screens
            padding: 0;
        }
    }

    &__bio-text-wrapper {
        max-width: 800px; // Set a max-width for readability
        text-align: center;
        margin: 0 auto; // Center the wrapper
        padding: 0 2rem; // Add padding on the sides

        // &::before,
        // &::after {
        //     // Apply the same styles for both before and after the content
        //     content: '';
        //     display: block;
        //     height: 2px;
        //     width: 50%;
        //     background-color: #fff; // A decorative line
        //     margin: 2rem auto; // Space around the bio text
        // }
    }

    &__bio-header {
        font-size: 4rem;
        margin-bottom: 5.5rem;
        // color: #0fa; // A highlight color for the header
        // color: pink; // A highlight color for the header

        &::before,
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 50%;
            background-color: #fff;
            margin: 2rem auto;
        }

        @media (max-width: 576px) {
            font-size: 2.5rem;
        }
    }

    &__bio-text {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        line-height: 1.6;
        color: #e0e0e0;

        text-align: justify;

        a {
            color: #0fa; // Highlight links with the same color as the header
            text-decoration: underline;

            &:hover {
                color: pink; // Pink color on hover
                text-decoration: underline wavy pink; // Wavy underline on hover
            }
        }

        @media (max-width: 576px) {
            font-size: 1.5rem;
        }
    }

    &__projects-section {
        display: flex;
        flex-direction: column;

        height: 100vh;

        align-items: center;
        justify-content: center;
        padding: 4rem 0; // Add padding for spacing

        @media (min-width: 992px) {
            padding: 5rem 0;
        }
    }

    &__projects-text-wrapper {
        max-width: 800px; // Set a max-width for readability
        text-align: center;
        margin: 0 auto; // Center the wrapper
        padding: 0 2rem; // Add padding on the sides
    }

    &__projects-header {
        font-size: 4rem;
        margin-bottom: 5.5rem;
        // color: #0fa; // A highlight color for the header

        &::before,
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 50%;
            background-color: #fff;
            margin: 2rem auto;
        }

        @media (max-width: 576px) {
            font-size: 3rem;
        }
    }

    &__projects-text {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        line-height: 1.6; // Improved readability for longer text
        color: #e0e0e0; // A softer color for the text

        a {
            color: #0fa; // Highlight links with the same color as the header
            text-decoration: underline;

            &:hover {
                color: pink; // Pink color on hover
                text-decoration: underline wavy pink; // Wavy underline on hover
            }
        }

        @media (max-width: 576px) {
            font-size: 1.6rem;
        }
    }


    &__project-cards-section {
        padding: 4rem 0;
        // background-color: #f5f5f5; // You can adjust this color

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__project-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
}




.text-glow {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.pulsate {
    animation: pulsate 1.5s infinite alternate;
    transform: translateZ(0);
    will-change: text-shadow;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 10px #0fa,
            0 0 90px #0fa;
    }
}

.neon-text {
    color: #fff;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.7),
        0 0 8px rgba(255, 255, 255, 0.7),
        0 0 15px rgba(255, 255, 255, 0.7),
        0 0 30px rgba(82, 113, 255, 0.7),
        0 0 60px rgba(82, 113, 255, 0.7),
        0 0 70px rgba(82, 113, 255, 0.7),
        0 0 80px rgba(82, 113, 255, 0.7),
        0 0 120px rgba(82, 113, 255, 0.7);
}

@keyframes pulsate-blue {
    100% {
        text-shadow:
            0 0 3px rgba(255, 255, 255, 0.5),
            0 0 7px rgba(255, 255, 255, 0.5),
            0 0 12px rgba(255, 255, 255, 0.5),
            0 0 25px rgba(82, 113, 255, 0.5),
            0 0 50px rgba(82, 113, 255, 0.5),
            0 0 60px rgba(82, 113, 255, 0.5),
            0 0 70px rgba(82, 113, 255, 0.5),
            0 0 100px rgba(82, 113, 255, 0.5);
    }

    0% {
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.5),
            0 0 6px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(82, 113, 255, 0.5),
            0 0 40px rgba(82, 113, 255, 0.5),
            0 0 50px rgba(82, 113, 255, 0.5),
            0 0 60px rgba(82, 113, 255, 0.5),
            0 0 90px rgba(82, 113, 255, 0.5);
    }
}