.home {
    &__header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    &__header-name {
        font-size: 8rem;

        // adjust font size for smaller screens
        @media (max-width: 768px) {
            font-size: 6rem;
        }

        // adjust font size for smaller screens
        @media (max-width: 576px) {
            font-size: 4rem;
        }

        // adjust font size for smaller screens
        @media (max-width: 320px) {
            font-size: 3rem;
        }
    }

    &__subheader {
        font-size: 4rem;

        // adjust font size for smaller screens
        @media (max-width: 768px) {
            font-size: 3.5rem;
        }

        // adjust font size for smaller screens
        @media (max-width: 576px) {
            font-size: 2.5rem;
        }

        // adjust font size for smaller screens
        @media (max-width: 320px) {
            font-size: 2rem;
        }
    }

    &__paragraph {
        font-size: 3rem;
    }

    &__links-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        // adjust font size for smaller screens
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__link {
        font-size: 3rem;
        text-decoration: dashed;
        margin: 0 1rem;

        // adjust font size for smaller screens
        @media (max-width: 768px) {
            font-size: 2.5rem;
        }

        // adjust font size for smaller screens
        @media (max-width: 576px) {
            font-size: 2rem;
        }

        // adjust font size for smaller screens
        @media (max-width: 320px) {
            font-size: 1.5rem;
        }
    }
}