.project-card {
    width: 300px; // Adjust width as needed
    // width: 320px; // Adjust width as needed
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__image {
        width: 100%;
        height: 260px; // Adjust height as needed
        object-fit: cover;
        transition: transform 0.3s ease-in-out; // Smooth transition for the transform effect

    }

    &:hover {
        .project-card__image {
            transform: scale(1.1);
        }
    }

    &__content {
        padding: 1rem;
    }

    &__title {
        color: #666;
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
    }

    &__description {
        font-size: 1.8rem;
        color: #666;
    }

    // &__link {
    //     font-size: 1.8rem;
    //     display: inline-block;
    //     margin-top: 1rem;
    //     color: #0fa;
    //     text-decoration: none;

    //     &:hover {
    //         text-decoration: underline;
    //     }
    // }

    &__link {
        font-size: 1.6rem; // Adjust the font size as needed
        display: inline-block;
        margin-top: 1rem;
        padding: 0.5rem 1rem; // Add padding to make it look like a button
        background-color: #0fa; // Button background color
        color: #fff; // Text color for the button
        text-decoration: none;
        border-radius: 4px; // Rounded corners for the button
        text-align: center;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #08d; // Change background color on hover
            color: #fff; // Optional: Change text color on hover
            text-decoration: none; // Keep text decoration as none on hover
        }
    }
}